

.imagem {
    display: block;

    width: 100%;
    height: 240px;

    margin-bottom: 20px;

    object-fit: contain;
}

/*cabeçalho*/
.web {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
   background-color: #ffffff;
   border-bottom: 2px solid #ddd
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
